<footer id="footer" class="footer footer-page hide-on-menu">
    <div class="container">
        <div class="row">
            {{> widgets/footer-tags}}
            {{> widgets/footer-about}}
            {{> widgets/footer-newsletter}}
        </div>
        <div class="row copyright">
            <div class="col-sm-12">
                <p class="copyright" style="color:#b1b1b1;">
                    <a href="https://halfrost.com" target="_blank" rel="noopener">Halfrost's Field | 冰霜之地  </a>
                    Copyright &copy; 2015 - 2020
                    <a href="http://www.miitbeian.gov.cn/" style="color: #ffffff">  鄂ICP备16014744号</a>
                </p>
            </div>
        </div>
    </div>

</footer>
