<header class="site-header">
		<a class="search-toggle" href="#"><span class="screen-reader-text"></span><span class="icon-search" aria-hidden="true"></span></a>
		<a class="sidebar-toggle" href="#"><span class="screen-reader-text"></span><span class="icon-nav-custom" aria-hidden="true"></span></a>
</header><!-- .site-header -->
