<section class="hero-area">
    <div class="container-fluid">
        <div class="row hero-row">
            <div class="col-lg-6 col-xl-5 offset-xl-1 d-flex align-items-center">
                <div class="intro-wrap">
                    {{!-- <h1 class="intro">
                        Hello,
                    </h1> --}}
                    <h2 class="by-line h3" style="--text-title: #ffffff">Explore in every moment of the hard thinking</h2>
                </div>
            </div>
            {{!-- <div class="col-lg-6 col-xl-5">
                <div class="headshot-wrap">
                    <img src="assets/images/headshot.png" alt="" class="headshot">
                </div>
            </div> --}}
        </div>
    </div>
    <div id="slider-down" class="slider-down bounce">{{> icons/arrow-down}}</div>
</section>