<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            {{#if next}}
            <a href="#" class="btn btn-outline-secondary js-load-more">{{t "Load More"}}</a>
            {{/if}}
            <div class="d-none end-message js-end-message">{{t "That's all. No more posts to display."}}</div>
        </div>
    </div>
</div>