<section class="site-search" role="search">
	<div class="search-scrollable">
		<div class="search-box">
			<div class="search-box-inside">
				<form class="search-form">
					<input type="text" id="search-field" class="search-field" placeholder="Type your keywords&hellip;" />
					<input type="submit" class="search-submit" value="Search" />
				</form>
				<div id="search-results" class="search-results"></div>
			</div><!-- .search-box-inside -->
		</div><!-- .search-box -->
		<a class="search-toggle" href="#"><span aria-hidden="true" class="icon-close-custom"></span></a>
	</div><!-- .search-scrollable -->
</section><!-- .site-search -->
