<div class="search-popup js-search-popup">
	<div class="close-button">
		{{> icons/close}}
	</div>
	<div class="container popup-inner">
		<div class="row">
			<div class="col-sm-12">
				<form id="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control js-search-input" placeholder="{{t "Type to search"}}" id="search-input" aria-label="Type to search" role="searchbox">
                    </div>
				</form>
				<div id="search-results"></div>
			</div>
		</div>
	</div>

	<div class="l-search__content">
		<div class="l-search__main">
			<div class="m-search-empty-block as-init-state js-search-init-state">
				<h3 class="m-search-empty-block__title">Discover more content...</h3>
				<img width="380" height="260" class="m-search-empty-block__illustration lazy loaded" data-url="https://img.halfrost.com/Blog/ArticleTitleImage/no-search.svg" alt="Discover more content..." data-loaded="true">
				<p class="m-search-empty-block__description">Enter some keywords in the search box above, we will do our best to offer you relevant results.</p>
			</div>

			<div class="l-search__results js-search-results-container">
				<h5 class="m-search-label in-search-results">Results</h5>
				<div class="js-search-results"></div>
			</div>

			<div class="m-search-empty-block as-no-results js-search-no-results">
				<h3 class="m-search-empty-block__title">We're sorry!</h3>
				<div class="m-search-empty-block__illustration in-no-results">
					<img width="380" height="260" data-url="https://img.halfrost.com/Blog/ArticleTitleImage/featured-illustration.svg" class="lazy" alt="Sorry about that!">
				</div>
				<p class="m-search-empty-block__description">We couldn't find any results for your search. Please try again with another keywords.</p>
			</div>
		</div>

		<div class="l-search__sidebar">
      		<div class="l-search__sidebar-sticky">
				{{!-- {{> widgets/sidebar-recent-posts}} --}}
				{{> widgets/tags-clouds}}
      		</div>
    	</div>
	</div>
</div>