<aside class="sidebar" aria-label="Sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
			<section class="widget widget-text">
				<h2 class="widget-title">About {{@blog.title}}</h2>
				<img src="https://img.halfrost.com/Blog/ArticleTitleImage/background-cover_.png" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>
				<p>冰霜的博客，会在这里更新他每日所学，所想。他希望能在这里和大家分享，踩坑经验和源码阅读体会。哪怕有一天这里都没有人来看了，他也会记录下自己一步一个的脚印，与时间做朋友，见证自己的成长。</p>
				<p>题图含义，也有很多同学问我博客题图放一张冰山的图有什么特殊含义。这张图其实是下"半边"都是"冰霜"，也正是"冰霜之地"的意思。这张图也是我找了好久才找到的，当时一看见就立即看中了，真的有种可遇不可求的感觉。</p>
				<img src="https://img.halfrost.com/Blog/ArticleTitleImage/d/fa/2d9c8ec383f60ac959291e172b584.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>
				<p> 💪 天道酬勤，勤能补拙。博观而约取，厚积而薄发。</p>
			</section><!-- .widget -->
			<section class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<img src="{{author.profile_image}}" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>
				<p>中文笔名：一缕殇流化隐半边冰霜，出处来自一本散文中的一句话。具体哪篇散文已经搜不到了。(现在搜这个名字出现的都是笔者的文章了。😅 )<br><br>
				英文名 halfrost，出处源自于大家对中文笔名的简称，有叫“一缕”的，有叫“半边冰霜”的，有叫“冰霜”的，最后选取了比较文艺的“半边冰霜”，翻译成英文。half-frost = 半边冰霜。由于中间有 2 个 f，所以缩略掉，最终成了一个单词 halfrost。twitter 和 facebook 这个名字已经被占用了，无奈在这两个平台上只能用 @halffrost 这个账号了。其他平台，新浪微博和 github 都是 @halfrost。入如果有问题，欢迎通过一下的联系方式来撩。😜 </p>
				<ul class="contacts">
					<li><a href="https://github.com/halfrost"><i class="fa fa-github"></i>  @halfrost</a></li>
					<li><a href="https://weibo.com/halfrost"><i class="fa fa-weibo"></i>  @halfrost</a></li>
					<li><a href="https://twitter.com/halffrost"><i class="fa fa-twitter"></i>  @halffrost</a></li>
					<li><span class="fa fa-envelope" aria-hidden="true"></span>  ydz627@gmail.com</li>
					<li><span class="fa fa-map-pin" aria-hidden="true"></span>    中国上海 徐汇区</li>
				</ul>
				<p>如果是特别急的事情，需要当面沟通，也可以通过微信联系，加好友请注明从何处获得到微信号，和加好友的意图(比如讨论技术等等)，至于微信号在哪里，就卖个关子，有缘人自然会相见 🤪 </p>
			</section><!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle" href="#"><span class="screen-reader-text"></span><span aria-hidden="true" class="icon-close-custom"></span></a>
	</div><!-- .sidebar-scrollable -->
</aside><!-- .sidebar -->
