{{!< default}}

    <header id="header" data-url="https://ob6mci30g.qnssl.com/Blog/ArticleTitleImage/background-cover1.png" class="home-header blog-background banner-mask lazy {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">

        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>Explore in every moment of the cudgel thinking</h2></a>
            <h4>在每一个苦思冥想的瞬间求知</h4>
        </div>
        <div class="arrow_down" data-offset="-45">
               <a href="javascript:;"></a>
        </div>
    </header>
{{! The main content area on the homepage }}
<main id="main" class="content homepage" role="main">
{{! Each post will be output using this markup }}
{{> "loop"}}
{{!! After all the posts, we have the previous/next pagination links }}

{{!-- {{pagination}} --}}
</main>
