{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="site-content-wrap">
    <div class="post-list">
        {{> loop}}
    </div>
    {{pagination}}
</div>
