<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align: left;">
    <p class="widget-title widget-header-title" style="color: white">Newsletter</p>
    <p style="margin-top: 30px;">Subscribe to our newsletter and stay updated on the latest news and special offers!</p>
    <div id="mc_embed_signup">
    <form class="form-footer validate" action="//halfrost.us18.list-manage.com/subscribe?u=1ab1c4e211ae9c3946dc43174&amp;id=0fa601dcb1&orig-lang=1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group form-group">
                <input type="email" value="" name="EMAIL" class="required email form-control form-control-dark" id="mce-EMAIL" placeholder="Enter your email" aria-label="email">
            </div>
            <div class="clear", style="text-align: left;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-secondary" style="position: static;border-color: #ff4847;background-color: #da3433;width: 100%;"></div>
        </div>
    </form>
</div>
</div>
