<div class="widget widget-footer col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <h2 class="widget-title">Recent posts</h2>

    <div class="render-component-recent-posts" data-posts-count="3"></div>
</div>
