<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h2 class="widget-title">About</h2>

    <ul>
        <li><a href="/archives/">Article archives</a></li>
        <li><a href="/links/">Links</a></li>
        <li><a href="/about/">About me</a></li>
        <li><a href="/subscribe/">Subscribe</a></li>
    </ul>
    <p style="color:#b1b1b1;">
      Theme Yasuko
      <a href="https://github.com/foru17/Yasuko" class="github-repo" style="height:18px;color:#737373;"><span class="gadget-github"></span>Star</a> Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>
    </p>
</div>
