<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p class="widget-title widget-header-title" style="text-align: left;color: white">Popular tags</p>
    <ul style="text-align: left;margin-top: 30px;">
        <li><a href="/tag/machine%20learning/">Machine Learning</a></li>
        <li><a href="/tag/golang/">golang</a></li>
        <li><a href="/tag/javascript/">JavaScript</a></li>
        <li><a href="/tag/ios/">iOS</a></li>
        <li><a href="/tag/protocol/">Protocol</a></li>
        <li><a href="/tag/星霜荏苒/">星霜荏苒</a></li>
    </ul>
</div>
