#main{
  width:90%;
// margin:-6rem auto;
}

.page-template {
  width: 100%;
}

.post-in-list {
  width: 80%;
}

.post {
  width: 100%;
}

.share {
  width: 100%;
}

.gh-subscribe {
  width: 100%;
}

.comments-area {
  width: 100%;
}

.read-next{
  width: 100%;
}
