.post-template, .author-template, .tag-template {
  .header {
    &.header-main {
      min-height: 375px;
    }
  }
}


.header {

  &.header-vh100 {
    height: 100vh;
  }

  &.header-main {

    position: relative;
    margin-bottom: ($line-height-computed * 2);

    .header-wrap {
      position: absolute;
      bottom: ($line-height-computed * 2);
      width: 40%;
      z-index: 100;
      @media(max-width: $screen-sm-max) {
        width: 60%;
      }
      @media(max-width: $screen-xs-max) {
        width: 80%;
        h1{
          padding-right: 20px;
        }
      }
    }

    .header-category {
      background-color: $brand-primary;
      @include heading-type();
      font-weight: 800;
      text-transform: uppercase;
      color: white;
      display: inline-block;
      font-size: 13px;
      margin-bottom: ($line-height-computed / 1.5);
      line-height: 1.5;
      padding: 2px 6px;

      @media (min-width: $screen-xs-min) {
        font-size: 13px;
        margin-bottom: ($line-height-computed / 2);
        padding: 2px 6px;
      }

      @media (min-width: $screen-sm-min) {
        font-size: 13px;
        margin-bottom: ($line-height-computed / 2);
        padding: 2px 6px;
      }

      &.featured {
        background-color: $brand-secondary;
        color: #222;
      }
    }

    .post-meta {
      margin-top: $line-height-computed / 2;
    }


    .header-scroll-hint {

      position: absolute;
      text-align: center;
      bottom: 3%;
      left: 0;
      width: 100%;

      &.visible {
        i {
          opacity: 0.8;
          transition: opacity .3s linear;
          cursor: pointer;
        }
      }

      i {
        display: inline-block;
        font-size: 26px;
        color: white;
        opacity: 0;
        cursor: default;
        margin: 0 auto;

        @media (max-width: $screen-xs-min) {
          font-size: 20px;
        }

        transition: opacity .3s linear;

        animation: bounce 3s infinite;

        @-moz-keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
          }
          40% {
            -moz-transform: translateY(-20px);
            transform: translateY(-20px);
          }
          60% {
            -moz-transform: translateY(-15px);
            transform: translateY(-15px);
          }
        }
        @-webkit-keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          40% {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
          }
          60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
          }
        }
        @keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          40% {
            -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
          }
          60% {
            -moz-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
          }
        }
      }
    }

    h1 {
      color: white;
      font-weight: 800;
      width: auto;
      background-color: rgba(0, 0, 0, 0.0);
      padding: 0;
      line-height: normal;

      margin: 0;

      font-size: $font-size-h2;

      @media (min-width: $screen-xs-min) {
        font-size: $font-size-h1;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 3.157em;
      }
      @media (min-width: $screen-md-min) {
        font-size: 3.157em;
      }
      @media (min-width: $screen-lg-min) {
        font-size: 3.157em;
      }
    }
  }

  &.header-naked {

    min-height: 100px !important;
    height: auto;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)) 50% 50% no-repeat;

    .header-wrap {

      position: static;
      margin-top: ($line-height-computed * 3);
      @media (max-width: $grid-float-breakpoint) {

        margin-top: ($line-height-computed * 2);
      }

      h1 {
        color: #fff;
      }
    }
  }

  &.header-hidden {
    height: auto;

    .header-wrap {
      display: none;
    }
  }

  &.header-index {

    margin-bottom: 0;

    @media (min-width: $screen-xs-min) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin-bottom: ($line-height-computed / 2);
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: ($line-height-computed);
    }

    @media (min-width: $screen-lg-min) {
      margin-bottom: ($line-height-computed * 1) - 20;
      padding-bottom: 20px;
    }
  }
}

.header-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)) 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;

  &:after {
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
}

.header-empty-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0)) 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header-scroll-hint {

  position: absolute;
  text-align: center;
  bottom: 3%;
  left: 0;
  width: 100%;

  &.visible {
    i {
      opacity: 0.8;
      transition: opacity .3s linear;
      cursor: pointer;
    }
  }

  i {
    display: inline-block;
    font-size: 26px;
    color: white;
    opacity: 0;
    cursor: default;
    margin: 0 auto;

    @media (max-width: $screen-xs-min) {
      font-size: 20px;
    }

    transition: opacity .3s linear;

    animation: bounce 3s infinite;

    @-moz-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }
      60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }
      60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
  }
}

/**
 * 4. Site Header
 * ----------------------------------------------------------------------------
 */
.post-title {
 	font-size: 28px;
  position:  relative;
}

.post-title a {
 	border-color: transparent;
 	color: #fff;
}

.tag-template .post-title a,
.author-template .post-title a {
 	color: #fff;
}

.post-title a:hover,
.tag-template .post-title a:hover,
.author-template .post-title a:hover {
 	border-color: $link-primary;
}

.post-header {
 	margin-bottom: 30px;
 }

.post-inside .post-header {
 	color: #fff;
 	padding: 60px;
 	position: relative;
 }

.cover .scroll-down {
	bottom: 30px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
}

.cover .scroll-down:focus {
	outline: none;
}

/**
 * 4. Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
	background-color: #fff;
	padding-bottom: 25px;
	padding-top: 25px;
}

.site-header .inner-wide {
	position: relative;
}

.post-template .site-header,
.page-template .site-header {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.site-title {
	font-family: $googleFont, $fontOSX;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
}

.site-logo,
.site-title {
	float: left;
	margin: 0 30px 0 0;
}

.site-logo a,
.site-title a {
	border: 0;
	color: #111;
}

.site-logo img {
	max-height: 50px;
}

.sidebar-toggle,
.search-toggle {
	border: 0;
  z-index: 100;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 30px;
	position: absolute;
	right: 30px;
	text-align: center;
	top: 50px;
	width: 30px;
}

.search-toggle {
	font-size: 21px;
	line-height: 1.6;
	margin-right: 50px;
}

.cover {
	background-color: #111;
	color: #fff;
	display: table;
	height: 100vh;
	margin-bottom: 60px;
	position: relative;
	width: 100%;
}

.cover.hero {
	height: 600px;
	margin-bottom: 30px;
}

.cover.page-header {
	height: 360px;
}

.cover-bg,
.post-bg {
	// -webkit-animation: fadeIn 1s ease-in-out; // 去掉遮罩动画
	// animation: fadeIn 1s ease-in-out;// 去掉遮罩动画
	background-position: center;
	background-size: cover;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
}

.cover-content {
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.hero .cover-content {
	text-align: left;
}

.cover .inner {
	padding-bottom: 30px;
	padding-top: 60px;
}

.cover.hero .inner {
	padding-left: 60px;
	padding-right: 60px;
}

.cover.post-header .inner {
	padding-bottom: 90px;
	padding-top: 120px;
}

.cover .scroll-down {
	bottom: 30px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
}

.cover .scroll-down:focus {
	outline: none;
}

.square {
	border: 2px solid #eee;
	color: #ccc;
	display: inline-block;
	font-size: 14px;
	height: 36px;
	line-height: 2.57142;
	text-align: center;
	width: 36px;
}

.button.light,
.square.light {
	border-color: #fff;
	color: #fff;
}

.button.dark,
.square.dark {
	border-color: #111;
	color: #111;
}

.button:hover,
.square:hover {
  background-color: $link-primary;
	border-color: $link-primary;
	color: #111;
}

/* Custom icons */
.icon-up-custom,
.icon-down-custom,
.icon-right-custom,
.icon-left-custom {
	background: 0;
	border-color: currentColor;
	border-style: solid;
	border-width: 2px 2px 0 0;
	box-sizing: border-box;
	height: 12px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 12px;
}

.icon-up-custom {
	margin-left: -6px;
	margin-top: -3px;
	transform: rotate(-45deg);
}

.icon-down-custom {
	margin-left: -6px;
	margin-top: -9px;
	transform: rotate(135deg);
}

// .post-meta .reading-time {
// 	bottom: 40px;
// 	position: absolute;
// 	right: 30px;
// }
.post-meta .reading-time {
	position: relative;
  display: inline;
}

.post-meta .author-avatar {
	border-radius: 50%;
	float: left;
	height: 30px;
	margin-right: 10px;
	margin-top: -3px;
	width: 30px;
}

.post-meta .published,
.post-meta .reading-time {
	font: normal 12px/1.5 $font-family-sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.post-meta-wrap {
	bottom: 30px;
	position: absolute;
	right: 30px;
	text-align: right;
	width: 100%;
}

.post-meta-wrap .author-avatar {
	border: 2px solid #adabac;
	float: right;
	height: 76px;
	margin: 0 0 0 30px;
	width: 76px;
}

.post-meta-wrap .post-author {
	display: block;
	margin-bottom: 10px;
	margin-top: 15px;
}

.post-meta-wrap .published {
	display: block;
	font-size: 10px;
}

@media only screen and (min-width: 981px) {
	.alignleft {
		margin-left: -90px;
	}

	.alignright {
		margin-right: -90px;
	}
}

@media only screen and (min-width: 1281px) {
	.sidebar-toggle:hover .icon-nav-custom:before {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.sidebar-toggle:hover .icon-nav-custom:after {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.sidebar-toggle:hover .icon-close-custom:before,
	.sidebar-toggle:hover .icon-close-custom:after,
	.search-toggle:hover .icon-close-custom:before,
	.search-toggle:hover .icon-close-custom:after {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

@media only screen and (min-width: 1401px) {
	h1,
	.grid-item:nth-child(3n+1) .post-inside .post-title,
	.home-template .grid-item:nth-child(3n+3) .post-title,
	.page-title,
	.post-template .post-title,
	.page-template .post-title {
		font-size: 48px;
	}

	h2,
	.home-template .grid-item:nth-child(3n+1) .post-title {
		font-size: 36px;
	}

	h3,
	.nav-title {
		font-size: 30px;
	}

	.alignleft,
	.full-width {
		margin-left: -180px;
	}

	.alignright,
	.full-width {
		margin-right: -180px;
	}

	.button {
		padding: 9px 20px;
	}

	.square {
		font-size: 18px;
		height: 46px;
		width: 46px;
	}

	button.square,
	input[type="submit"].square,
	input[type="button"].square {
		height: 50px;
		line-height: 2.77777;
		width: 50px;
	}

	.site-title {
		font-size: 30px;
		margin-right: 45px;
	}

	.sidebar,
	.site-search {
		width: 740px;
	}

	.sidebar .site-navigation,
	.sidebar .widget,
	.search-box-inside {
		padding-left: 90px;
		padding-right: 90px;
	}

	.post-title {
		font-size: 36px;
		margin-bottom: 15px;
	}

	.post-tags a {
		padding: 2px 5px;
	}

	.post-tags,
	.nav-before,
	.recent-date,
	.site-info {
		font-size: 12px;
	}

	button,
	input[type="submit"],
	input[type="button"],
	input[type="reset"],
	.site-navigation .menu-item,
	.post-meta,
	.share-post,
	.post-count,
	.pagination {
		font-size: 14px;
	}

	.author-template .post-content,
	.tag-template .post-content,
	.comments-title,
	.widget-area .screen-reader-text,
	.widget-title,
	.widget-recent-posts a {
		font-size: 18px;
	}

	.grid-item,
	.home-template .grid-item:nth-child(3n+1),
	.cover.page-header {
		height: 500px;
	}

	.grid-item:nth-child(3n+1),
	.home-template .grid-item:nth-child(3n+3),
	.cover.hero,
	.slider-loading,
	.featured-slider .slick-slide {
		height: 800px;
	}

	.cover .scroll-down {
		margin-left: -25px;
	}

	.hero-wrap {
		padding-left: 60px;
	}

	.hero-title,
	.slide-vertical .post-title {
		font-size: 60px;
	}

	.hero-text {
		font-size: 20px;
	}

	.pagination {
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.nav-previous,
	.nav-next {
		padding-bottom: 450px;
	}

	.footer-widgets .footer-col {
		padding-bottom: 60px;
		padding-top: 90px;
	}

	.offsite-links a {
		font-size: 18px;
		height: 50px;
		line-height: 2.8;
		width: 50px;
	}
}

@media only screen and (max-width: 1200px) {
	.author-template .post-grid,
	.tag-template .post-grid {
		margin-left: -30px;
	}

	.author-template .grid-item,
	.tag-template .grid-item {
		padding-left: 30px;
		padding-right: 0;
	}

	.footer-widgets .footer-col {
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer-widgets .footer-col.first {
		padding-left: 0;
	}

	.footer-widgets .footer-col.last {
		padding-right: 0;
	}
}

@media only screen and (max-width: 960px) {
	.grid-item,
	.home-template .grid-item:nth-child(3n+1) {
		width: 100%;
	}

	.grid-item:nth-child(3n+1),
	.home-template .grid-item:nth-child(3n+3) {
		height: 450px;
	}

	.grid-item:nth-child(3n+1) .post-inside .post-title,
	.home-template .grid-item:nth-child(3n+3) .post-title {
		font-size: 28px;
		max-width: none;
	}

	.slide-vertical .post-title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 860px) {
	.post-template .site-header,
	.page-template .site-header {
		position: static;
		width: auto;
	}

	.site-header .site-navigation {
		display: none;
	}

	.sidebar .site-navigation {
		display: block;
	}

	.site-logo,
	.site-title {
		margin-right: 70px;
	}

	.cover,
	.cover.hero,
	.slider-loading,
	.featured-slider .slick-slide {
		height: 450px;
	}

	.hero-title {
		font-size: 40px;
		margin-bottom: 15px;
	}

	.hero .subscribe {
		margin-top: 0;
	}

	.cover .scroll-down {
		display: none;
	}

  .cover .header-scroll-hint {
		display: none;
	}

	.cover.post-header .inner {
		padding-bottom: 30px;
		padding-top: 60px;
	}

	// .post-meta .reading-time {
	// 	bottom: 30px;
	// 	right: 0;
	// 	text-align: center;
	// 	width: 100%;
	// }

	.slide-vertical .inner {
		padding-left: 60px;
		padding-right: 60px;
	}

	.featured-counter {
		display: none;
	}

	.slick-arrow {
		bottom: 30px;
		left: auto;
		margin: 0;
		top: auto;
	}

	.slick-next {
		right: 30px;
	}

	.slick-prev {
		right: 72px;
	}

	.footer-widgets .widget-area {
		display: block;
		padding-top: 60px;
		table-layout: auto;
	}

	.footer-widgets .footer-col {
		display: block;
		padding: 0;
		width: 100%;
	}

	.footer-widgets .middle{
		border-left: 0;
		border-right: 0;
	}

  .post-meta-wrap {
    position: static;
    text-align: center;
  }

  .post-meta-wrap .author-avatar {
    border: 0;
    float: none;
    height: 30px;
    margin: -3px 10px 0 0;
    width: 30px;
  }

  .post-meta-wrap .post-author {
    display: inline;
    margin: 0;
  }

  .post-meta-wrap .published,
  .reading-time {
    border-left: 1px solid #adabac;
    display: inline;
    font-size: 12px;
    margin: 0 0 0 5px;
    padding-left: 7px;
  }
}

@media only screen and (max-width: 640px) {
	// html {
	// 	font-size: 100%;
	// }
  //
	// h1,
	// .page-title,
	// .post-template .post-title,
	// .page-template .post-title,
	// .hero-title,
	// .slide-vertical .post-title {
	// 	font-size: 34px;
	// }
  //
	// h2 {
	// 	font-size: 28px;
	// }
  //
	// h3 {
	// 	font-size: 24px;
	// }
  //
	// h4 {
	// 	font-size: 18px;
	// }
  //
	// h5,
	// h6,
	// .page-description,
	// .hero-text {
	// 	font-size: 16px;
	// }

	.sidebar,
	.site-search {
		border-left: 0;
		width: 100%;
	}

	.cover.page-header {
		height: 300px;
	}
}

@media only screen and (max-width: 600px) {
	.slide-vertical .inner {
		padding-left: 30px;
		padding-right: 30px;
	}

	.post-inside .post-header {
		padding: 30px;
	}

	.post-inside .read-more {
		bottom: 30px;
		left: 30px;
	}
}

@media only screen and (max-width: 480px) {
	h1,
	.page-title,
	.post-template .post-title,
	.page-template .post-title,
	.hero-title {
		font-size: 30px;
	}

	h2,
	.site-title,
	.post-title,
	.grid-item:nth-child(3n+1) .post-inside .post-title,
	.home-template .grid-item:nth-child(3n+3) .post-title,
	.slide-vertical .post-title {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 16px;
	}

	h5,
	h6 {
		font-size: 14px;
	}

	.inner-wide,
	.inner,
	.author-list {
		padding-left: 15px;
		padding-right: 15px;
	}

	.cover {
		margin-bottom: 45px;
	}

	.cover.hero,
	.featured-posts {
		margin-bottom: 15px;
	}

	.grid-item,
	.grid-item:nth-child(3n+1),
	.home-template .grid-item:nth-child(3n+1),
	.home-template .grid-item:nth-child(3n+3),
	.cover.hero,
	.slider-loading,
	.featured-slider .slick-slide {
		height: 400px;
	}

	.hero .cover-content {
		text-align: center;
	}

	.cover.hero .inner {
		padding-left: 30px;
		padding-right: 30px;
	}

	.sidebar-toggle,
	.search-toggle {
		right: 15px;
	}

	.sidebar .site-navigation,
	.sidebar .widget,
	.search-box-inside {
		padding: 45px 15px 0;
	}

	#mc-embedded-subscribe-form,
	.gh-subscribe-form,
	.search-form {
		padding-right: 0;
	}

	#mc-embedded-subscribe-form .gh-subscribe-form,
	.search-submit {
		display: block;
		position: static;
	}
}


// /* Text meant only for screen readers */
// .screen-reader-text,
// .site-logo + .site-title,
// #mc-embedded-subscribe-form label {
// 	border: 0;
// 	clip: rect(1px, 1px, 1px, 1px);
// 	height: 1px;
// 	overflow: hidden;
// 	padding: 0;
// 	position: absolute !important;
// 	width: 1px;
// }

.icon-nav-custom,
.icon-close-custom {
	background: #111;
	color: #111;
	height: 2px;
	left: 50%;
	margin-left: -15px;
	margin-top: -1px;
	position: absolute;
	top: 50%;
	width: 30px;
}

.icon-close-custom {
	background: 0;
}

.icon-nav-custom:before,
.icon-nav-custom:after,
.icon-close-custom:before,
.icon-close-custom:after {
	background: currentColor;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	width: 100%;
}

.icon-nav-custom:before {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.icon-nav-custom:after {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

.icon-close-custom:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.icon-close-custom:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.post-template .post-title:after,
.page-template .post-title:after {
	background-color: #cd9023;
	bottom: 0;
	content: "";
	height: 2px;
	left: 50%;
	margin-left: -40px;
	position: absolute;
	width: 80px;
}

.cover-content .inner {
	padding-bottom: 120px;
	padding-top: 135px;
  margin: 0 auto;
	max-width: 720px;
	padding: 0 30px;
}

.page-header .author-avatar {
	border: 2px solid #adabac;
	border-radius: 50%;
	height: 76px;
	left: -110px;
	position: relative;
	top: 80px;
	width: 76px;
}

@media only screen and (max-width: 1000px) {
	.page-header .author-avatar {
		display: none;
	}
}

.page-title {
	color: #fff;
	font-size: 36px;
	margin-bottom: 0;
	padding-bottom: 30px;
	position: relative;
}
