#toc {
    font: 400 16px/1.8 "Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    float: right;
    width: 20%;
    padding: 0 20px 0 20px;
    visibility: hidden;

    // position: absolute;
    // visibility: hidden;
    // display:none;
    // left:50%;
    // top: 0px;
    // width: 180px;
    // width: 90%;
    // max-height: 100%;
    // padding: 0 5px;
    // overflow-y: auto;
}
#toc ol {
    margin: 0 0 0 1em;
    list-style: none;
    padding: 0;
}
#toc li {
    padding: 0;
    position: relative;
}
#toc li:before {
    border: 5px dashed transparent;
    border-left: 5px solid #57a3e8;
    position: absolute;
    left: -1em;
    top: .5em;
}
#toc li:before {
    content: "";
    height: 0;
    width: 0;
    overflow: hidden;
}
#toc a {
    display: block;
    color: #6aa7c0;
    cursor: pointer;
    max-height: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    transition: color .3s;
}
#toc a:hover {
    color: #F3A01E;
}
#toc h4 {
    padding-bottom: 0.25em;
    margin: .75em 0;
    // border-bottom: 1px solid #b3b3b3;
    font-size: 18px;
    color: #3b3b3b;
    font-family: "Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

@media only screen and (min-width: 1401px) {
  #toc {
    visibility: visible;
    display: block;
  }
}
