<div class="pricing-table">
    <div class="table-header text-center">
        <h3 class="pricing-table-title">{{t "Yearly"}}</h3>
        <div class="price">
            {{#get "tiers" include="monthly_price" limit="all" as |tiers|}}
            	{{! Loop through our tiers collection }}
            	{{#foreach tiers}}
            		{{#if yearly_price}}
            			<span class="currency">$</span><span class="value">{{price yearly_price currency=currency}}</span>
            			<span class="duration">{{t "/ Year"}}</span>
            		{{/if}}
            	{{/foreach}}
            {{/get}}
        </div>
    </div class="table-header">
    <ul class="table-details">
        <li>{{>icons/check-mark}} Full access to all private posts</li>
        <li>{{>icons/check-mark}} Regular updates with new content</li>
        <li>{{>icons/check-mark}} Support independent publishing</li>
        <li>{{>icons/check-mark}} Simple, secure card payment</li>
        <li>{{>icons/check-mark}} One easy payment instead of 12!</li>
        <li>{{>icons/check-mark}} Get 25% discount!</li>
    </ul>
    <div class="table-footer text-center">
        <a class="btn btn-primary" href="javascript:void(0)" data-members-plan="Yearly">{{t "Subscribe now"}}</a>
    </div>
</div>