<div class="pricing-table">
    <div class="table-header text-center">
        <h3 class="pricing-table-title">{{t "Monthly"}}</h3>
        <div class="price">
            {{#get "tiers" include="monthly_price" limit="all" as |tiers|}}
            	{{! Loop through our tiers collection }}
            	{{#foreach tiers}}
            		{{#if monthly_price}}
            			<span class="currency">$</span><span class="value">{{price monthly_price currency=currency}}</span>
            			<span class="duration">{{t "/ Month"}}</span>
            		{{/if}}
            	{{/foreach}}
            {{/get}}
        </div>
    </div>
    <ul class="table-details">
        <li>{{>icons/check-mark}} Full access to all private posts</li>
        <li>{{>icons/check-mark}} Regular updates with new content</li>
        <li>{{>icons/check-mark}} Support independent publishing</li>
        <li>{{>icons/check-mark}} Simple, secure card payment</li>
    </ul>
    <div class="table-footer text-center">
        <a class="btn btn-primary" href="javascript:void(0)" data-members-plan="Monthly">{{t "Subscribe now"}}</a>
    </div>
</div>