.card-wrap {
    margin-bottom: 30px;
}
.card-single {
    padding: 32px 24px;
    position: relative;
    min-height: 200px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(#000, 0.22);
    }
    .inner-content {
        position: relative;
        .avatar {
            width: 96px;
            height: 96px;
            margin-bottom: 16px;
        }
        .tag-name, .author-name a {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 0;
                height: 2px;
                background: $accent-color;
                transition: width 0.3s;
            }
        }
        .author-name {
            margin-bottom: 16px;
            a {
                color: var(--text-title);
                &:hover {
                    color: var(--text-title);
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
        .post-count {
            margin-top: 16px;
            font-size: 0.875rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--text-title);
        }
        .bio {
            margin-top: 16px;
        }
        .meta-info {
            padding: 0;
            margin-top: 24px;
            color: var(--text-body);
            li {
                margin: 0px 4px 8px;
                display: inline-block;
                list-style: none;
                svg {
                    width: 20px;
                    height: 20px;
                }
                &.location {
                    svg {
                        margin-right: 4px;
                    }
                }
                a {
                    color: var(--text-body);
                    &:hover {
                        color: $accent-color;
                    }
                }
            }
        }
    }
    &.has-image {
        background-size: cover;
        background-position: center center;
        color: #fff;
        &:before {
            background-color: rgba(#000, 0.6);
        }
        .inner-content {
            .tag-name, .post-count, .bio {
                color: #fff;
            }
            .author-name {
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .meta-info {
                color: #fff;
                li {
                    a {
                        color: #fff;
                        &:hover {
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }
    &:hover {
        .tag-name {
            &::before {
                width: 100%;
            }
        }
    }
}
[data-theme="light"] {
    .card-single:not(.has-image) {
        &:before {
            background-color: rgba(#000, 0.05);
        }
    }
}