body {
    font-family: $font-body;
    background-color: var(--bg-color);
    color: var(--text-body);
    line-height: 1.5;
    left: 0;
    position: relative;
    transition: background-color 0.3s ease-in-out, left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-title;
    color: var(--text-title);
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1rem;
}
h1, .h1 {
    font-size: 3rem; //48
}
h2, .h2 {
    font-size: 2.5rem; //40
}
h3, .h3 {
    font-size: 2rem; //32
}
h4, .h4 {
    font-size: 1.5rem; //24
}
h5, .h5 {
    font-size: 1.125rem; //18
}
h6, .h6 {
    font-size: 0.875rem; //14
}
a {
	color: $accent-color;
	transition: (all 0.25s);
	&:hover {
		text-decoration: none;
        color: $accent-color;
        outline: none;
	}
}
svg {
    fill: currentColor;
}
.btn {
    padding: 0px 1.75rem;
    border-radius: 0px;
    letter-spacing: 1px;
    line-height: 46px;
    text-transform: uppercase;
    font-size: 0.875rem;
    &:focus {
        box-shadow: 0 0 0 2px rgba($accent-color, 0.4);
    }
    svg {
        width: 18px;
        height: 18px;
    }
}
.btn-sm {
    line-height: 30px;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: $accent-color;
    border-color: $accent-color;
    color: #000;
    &:hover, &:not(:disabled):not(.disabled):active {
        background-color: darken($accent-color, 5%);
        border-color: darken($accent-color, 5%);
        color: #000;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 2px rgba($accent-color, 0.4);
    }
}
.btn-secondary {
    background-color: var(--text-light);
    border-color: var(--text-light);
    color: #fff;
    &:hover, &:not(:disabled):not(.disabled):active {
        background-color: $accent-color;
        border-color: $accent-color;
        color: #000;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        color: #fff;
    }
}
.btn-outline-primary {
    color: $accent-color;
    border-color: $accent-color;
    &:hover, &:not(:disabled):not(.disabled):active {
        color: #000;
        background-color: $accent-color;
        border-color: $accent-color;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 2px rgba($accent-color, 0.4);
    }
}
.btn-outline-secondary {
    color: var(--text-light);
    border-color: var(--text-light);
    &:hover, &:not(:disabled):not(.disabled):active {
        color: #000;
        background-color: $accent-color;
        border-color: $accent-color;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 2px rgba($accent-color, 0.4);
    }
}
form {
    margin-bottom: 24px;
}
input[type='text'], input[type='email'], input[type='url'], textarea {
    background: transparent;
	border: 1px solid var(--text-light);
    box-shadow: none;
    border-radius: 0px;
    height: 48px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 0px 16px;
    color: var(--text-body);
	&:focus {
        background: transparent;
        border: 1px solid $accent-color;
        color: var(--text-body);
		outline: none;
		box-shadow: none;
    }
    &::placeholder {
        color: var(--text-light);
    }
}
textarea {
    height: 120px;
    padding: 16px;
}
figure {
    margin-bottom: 2rem;
}
figcaption {
    font-size: 1rem;
    text-align: center;
    margin-top: 8px;
    color: var(--text-light);
}

blockquote {
    font-family: $font-title;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 24px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-left: 2px solid $accent-color;
    background-color: rgba(#fff, 0.02);
    p {
        margin-bottom: 0px;
    }
    cite {
        font-style: normal;
    }
}
[data-theme="light"] blockquote {
    background-color: rgba(#000, 0.03);
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 2rem;
}
table, th, td {
    border: 1px solid var(--text-light);
}
th {
    color: var(--text-title);
}
th, td {
    padding: 4px 16px;
}
dd, dt {
    line-height: 24px;
}
dl, ol, ul {
    padding-left: 1.3rem;
}
.mark, mark {
    background-color: yellow;
}
pre code, pre code.hljs {
    line-height: 1.75;
    padding: 1rem 1.5rem;
}
code:not(.hljs) {
    background: rgba(#000, 0.5);
    padding: 0.25rem 0.5rem;
}
[data-theme="light"] {
    code:not(.hljs)  {
        background: rgba(#000, 0.05);
    }
}
iframe {
    border: none;
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px dashed rgba(#fff, 0.2);
}
[data-theme="light"] {
    hr {
        border-color: rgba(#000, 0.2);
    }
}

.tooltip-text {
    width: 200px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 8px;
    left: 50%;
    margin-left: -100px;
    white-space: nowrap;
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.tooltip-visible {
    position: relative;
    .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}
.medium-zoom-overlay {
    background-color: var(--bg-color) !important;
}
@media (min-width: 767px) {
    .site-content-wrap, .site-footer, .prev-next-content, .comment-wrap {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
.fade-in {
    animation: fadeIn 0.2s cubic-bezier(0.24, 0.46, 0.32, 0.87) both;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 100%;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-up {
    animation: fadeInUp 0.5s cubic-bezier(0.24, 0.46, 0.32, 0.87) both;
}
